.profile {
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 120px;
}
.nav {
  max-width: 250px;
  width: 100%;
}
.list {
}
.item {
  margin-bottom: 25px;
  margin-top: 25px;
}
.data {
  width: 480px;
}
.footnote {
  max-width: 320px;
}
.logout {
  color: var(--text-inactive-color);
}
.link {
  color: var(--text-inactive-color);
}
.activeLink {
  color: var(--text-primary-color);
}

@media (min-width: 768.5px) {
  .profile {
    display: flex;
    align-items: top;
    gap: 60px;
    width: auto;
  }
}
@media (max-width: 768.5px) {
  .footnote {
    display: none;
  }
}
